.origin-folders-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  //width: clamp(350px, 70%, 450px);
  font-size: var(--fs-normal);
  background-color: var(--color-fifth);
}

.origin-folders__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.6em;
  max-height: 600px;
  padding: 0 1.5em;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
}

.origin-folders__btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
  gap: 1.5em;
}
