.btn {
  width: fit-content;
  height: auto;

  border: none;
  border-radius: 2px;
  margin: 0;
  padding: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  background-color: var(--color-primary);

  opacity: .9;

  &:hover {
    opacity: 1;
  }
}

.btn__content {
  font-size: var(--fs-normal);
  text-align: center;
  text-decoration: none;
}
