.btn {
  width: fit-content;
  height: auto;

  border: none;
  border-radius: 2px;
  margin: 0;
  padding: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  background-color: var(--color-primary);

  opacity: 0.9;
  &:hover {
    opacity: 1;
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.99);
  }
}

.btn__content {
  font-size: var(--fs-normal);
  text-align: center;
  text-decoration: none;
  width: max-content;
}

.btn-delete {
  background-color: var(--color-remove);
}
.btn-add {
  background-color: var(--color-add);
}
