.filter-item {
  & button {
    overflow: hidden;
    text-overflow: clip;
    width: 100%;
    outline: none;
    border: none;
    padding: 0.8em 1em;
    margin: 0;
    border-radius: 5px;
    background-color: var(--color-third-darkest);
    font-size: var(--fs-normal);
    cursor: pointer;
    opacity: 0.9;
    font-weight: bold;

    &:hover {
      z-index: 1000;
      opacity: 1;
      background-color: var(--color-remove);
      transform: scale(1.05);
    }
  }
}

[aria-label="name"] button {
  color: var(--filter-color-name);
}
[aria-label="format"] button {
  color: var(--filter-color-format);
}
[aria-label="regex"] button {
  color: var(--filter-color-regex);
}
