.checkbox {
  height: 100%;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  --color: red;
  --checked-color: blue;
}

/*the label*/
.checkbox__label {
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

/*the input*/
.checkbox__input {
  margin: 0;
  margin-left: 1em;
  padding: 0;

  width: 2em;
  height: 2em;
}
.checkbox__input:hover {
  filter: brightness(0.85);
}
