/*li tag that contains the hole filter*/
.filters_list__item {
  --item-bg: var(--color-fourth);
  --item-bg-hovered: #383b43;

  --item-spacing: 0.4em;

  --delete-color: #ff0000;

  max-width: 600px;
  min-width: 300px;
  width: 60%;
  height: 100%;

  padding: 0;
  margin: 0;
}
/*label that contains the text and the icon*/
.item__label {
  --transition-timing: 0.3s;

  width: 100%;
  height: 100%;

  margin: var(--item-spacing) auto;
  padding: 0.2em 0.6em;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--item-bg);
  border: 2px solid transparent;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 10px;

  cursor: pointer;

  transition: all var(--transition-timing) ease-in;
}
.item__label:hover {
  border: 2px solid var(--delete-color);
  background-color: var(--item-bg-hovered);
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.15) -2.4px -2.4px 5px;
}
/*the text of the filter*/
.item__content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/*the delete icon*/
.item__delete_icon {
  transition: opacity var(--transition-timing) ease-in;
  opacity: 0;
  height: 100%;
}
.item__label:hover > .item__delete_icon {
  opacity: 1;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SCROLLBAR ~~~~~*/
.filters_list::-webkit-scrollbar {
  width: 5px;
}
