.filters_menu {
  --width-cap: 65%;
  --max-width: 800px;
  --min-width: 200px;

  /*title*/
  --title-ff: roboto_slabregular;
  --title-fs: var(--fs-title);
  --title-fw: 300;
  --title-color: var(--color-primary);

  /*filter container*/
  font-family: robotolight;
  font-size: var(--fs-first);
  font-weight: 300;
  color: var(--color-primary);

  /*filter list*/
  --list-bg: #2a2c31;
  --item-bg: var(--third);
  --delete-color: #ff0000;

  /*filter label*/
  --filter-label-fs: var(--fs-secondary);

  width: 100%;
  height: 100%;

  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TITLE ~~~~~*/
.filters_menu__title {
  font-size: var(--title-fs);
  font-family: var(--title-ff);
  font-weight: var(--title-fw);
  color: var(--title-color);

  text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECT FOLDER BUTTON ~~~~~*/
.destination_path_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: var(--width-cap);
  max-width: var(--max-width);
  min-width: var(--min-width);

  margin: 1em auto;
  padding: 0.8em 2em;

  border-radius: 25px;
  background-color: var(--color-third);
}
.display_path_container {
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 80%;
  padding: 0.4em 0.8em;
  --color-third-lighter: rgb(49 51 58 / 1);
  background-color: var(--color-third-lighter);
}
.display_path_container p {
  color: inherit;
  font-family: inherit;
  text-align: center;
}
.display_path__folder {
  margin: 0;
  padding: 0;
  font-size: var(--fs-first);
}
.display_path__path {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  margin: 0;
  padding: 0;
  font-size: var(--fs-third);
}
.destination_path_container:hover .display_path__path {
  opacity: 1;
}
/*the button of the select folder*/
.destination_path_container .button {
  border-radius: 5px;
  border: 1px solid #aaa;
}
.destination_path_container .button:hover {
  border: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FILTERS ~~~~~*/
/*the filter is wrapped by a form tag and then label*/
.filter_form {
  width: var(--width-cap);
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0.3em auto;
  padding: 0;
}
.filter_container {
  flex-wrap: nowrap;
  font-size: inherit;
  font-family: inherit;
  color: inherit;

  width: 100%;

  margin: auto;
  padding: 0.4em 0.8em;
  border-radius: 25px;

  background-color: var(--color-third);
  border: 1px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}
.filter_container:focus-within {
  color: white;
}

/*the input of the filter*/
.filter_container:hover .filter_input {
  filter: brightness(1);
}
.filter_input {
  padding: 0.125em 0.2em;
  margin: 0 auto;
  min-height: 1.5em;

  filter: brightness(0.9);

  font-size: inherit;
  font-family: inherit;

  outline: none;
  border: none;
  border-radius: 5px;
}

/*the icon inside the container*/
.filter_icon {
  padding: 0;
  margin: auto;
  height: auto;
  width: 100%;
}
.filter_icon #add-icon-circle {
  margin: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FILTER LIST ~~~~~*/
.filters_list_container {
  width: var(--width-cap);
  max-width: var(--max-width);
  min-width: var(--min-width);
  height: 100%;
  max-height: 65vh;

  padding: 2vh 5vw;
  margin: 5vh auto;

  border-radius: 25px;

  background-color: var(--list-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*icon*/
.filter_icon_container {
  margin: auto 0;
  margin-left: auto;
  margin-right: 0.5em;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.2s;
}
.filter_icon_container:hover {
  filter: brightness(1.25);
  width: 38px;
  height: 38px;
}

/*the actual list*/
.filters_list {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  align-items: center;

  margin: 0.5em auto;
  padding: 0;

  width: 100%;
  max-height: 55vh;
  height: auto;

  overflow-y: auto;
  overflow-x: hidden;
}

/*filter label (description of colors)*/
.filters_list_label {
  position: relative;
  width: 100%;

  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  padding-top: 0.5em;

  display: flex;
  justify-content: space-around;
  align-items: center;
  --divider-color: rgb(32 33 35 / 1);
  --divider-color-faded: rgb(32 33 35 / 0.1);
}
.filters_list_label::after {
  /*this is a divider line*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  background: linear-gradient(
    to right,
    var(--divider-color-faded) 0%,
    var(--divider-color) 20%,
    var(--divider-color) 80%,
    var(--divider-color-faded) 100%
  );
  width: 100%;
  height: 2px;
}
[filtertype='name'],
.filter_name {
  color: var(--filter-color-name);
}
[filtertype='format'],
.filter_format {
  color: var(--filter-color-format);
}
[filtertype='regex'],
.filter_regex {
  color: var(--filter-color-regex);
}
.filter_label {
  font-size: var(--filter-label-fs);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~*/
/*make the containers take 95% of the with when the screen it's small*/
@media (max-width: 850px) {
  .filters_menu {
    --width-cap: 90%;
    --fs-first: 1.5rem;
    --fs-secondary: 1rem;
    --fs-third: 0.8rem;
  }
  .filter_icon_container {
    margin: auto;
  }
}
@media (max-width: 450px) {
  .filters_menu {
    --width-cap: 95%;
    --fs-first: 1rem;
    --fs-secondary: 0.7rem;
    --fs-third: 0.4rem;
  }
  .filter_icon_container {
    margin: auto;
  }
}
