.general_settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*sections inside the general settings*/
.general_settings > div {
  padding: 0.5em 0.8em;
  min-height: 3vh;
  /*maybe make this a variable???*/
  font-size: calc(var(--fs-first) - 0.2125em);
}

.common_label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}
