.moved_file {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: normal;
  align-items: normal;
  width: 90%;
  height: 100%;
}

.moved_file__filename {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  font-size: var(--fs-first);
}

.moved_file__date {
  font-size: var(--fs-third);
  color: var(--fc-darken);

  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  margin: 1em 0;
}

.moved_file__paths {
  font-size: var(--fs-secondary);
  color: var(--fc-darkest);

  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
  margin: 1em 0;
}
