.inline-display-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0.8em 0;

  --display-mark-color: var(--color-primary);
  &[aria-details="add"] {
    --display-mark-color: var(--color-add);
  }
  &[aria-details="remove"] {
    --display-mark-color: var(--color-remove);
  }
  &[aria-details="name"] {
    --display-mark-color: var(--filter-color-name);
  }
  &[aria-details="format"] {
    --display-mark-color: var(--filter-color-format);
  }
  &[aria-details="regex"] {
    --display-mark-color: var(--filter-color-regex);
  }

  & .inline-display__btn {
    --icon-size: 3em;
    width: var(--icon-size);
    height: var(--icon-size);
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &:has(input:focus),
  &:has(button:focus),
  &:hover {
    & .inline-display__icon {
      right: 0;
      width: min-content;
      opacity: 1;
      animation-name: iconAnimation;
    }
    &::after {
      left: -10%;
      width: 120%;
      height: 2px;
      background-color: var(--color-secondary);
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0.55em;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color-primary);
    transition: left 300ms ease-out, width 300ms ease-out, height 300ms ease-out,
      bottom 300ms ease-out, background-color 300ms ease-out;
  }
}

.inline-display {
  text-align: center;
  width: 100%;

  outline: none;
  border: none;

  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--fs-big);
  color: var(--color-secondary);

  background-color: transparent;
  padding: 0 0.2em;

  cursor: pointer;

  &::placeholder {
    font-size: var(--fs-normal);
    color: var(--color-primary);
    text-align: center;
    font-style: italic;
  }
}

.inline-display__icon {
  z-index: -1;
  bottom: 0.8em;
  right: 0;
  width: 100%;
  height: 100%;
  color: var(--display-mark-color);
  opacity: 0.85;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes iconAnimation {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(360deg);
  }
  67% {
    transform: rotate(-20deg);
  }
  79% {
    transform: rotate(10deg);
  }
  84% {
    transform: rotate(-5deg);
  }
  89% {
    transform: rotate(3deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
