.inline-display {

  font-size: var(--fs-big);
  color: black;
  background-color: transparent;

  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  width: 80%;
  margin: 0 auto;

  &::placeholder {
    font-size: var(--fs-big);
    color: black;
  }
}
