.inline-display {
  height: 100%;
  width: 100%;

  padding: 0.65em;

  border: 1px solid var(--color-primary);
  border-radius: 3px;

  font-size: var(--fs-normal);

  background-color: var(--color-secondary);
  opacity: 0.9;

  cursor: pointer;

  &::placeholder {
    text-transform: capitalize;
    font-style: italic;
  }

  &:hover {
    opacity: 1;
  }
}
