.app-container {
  color: var(--color-secondary);
}

.app-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  margin: 2em 0;
  padding: 1em;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.app-title {
  color: var(--color-primary);
  font-size: var(--fs-title);
  font-family: ryeregular;
  font-weight: 100;
  text-align: center;
}
