.app-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
}

.app-container__background {
  position: absolute;
  height: auto;
  z-index: -100;
  opacity: 0.125;
}

.background-top {
  top: 20vh;
  right: 0;
  width: 40vw;
  color: var(--color-third-darkest);
}

.background-bottom {
  bottom: 0;
  left: 0;
  color: var(--color-primary);
  width: 35vw;
}

.app-title {
  padding: 0;
  margin: 0;
  color: var(--color-primary);
  font-size: var(--fs-title);
  font-family: ryeregular;
  font-weight: 100;
  text-align: center;
}

.footer {
  margin-top: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  padding-left: 2em;
  & p {
    width: min-content;
  }
}
