@font-face {
  font-family: "ryeregular";
  src: url("./../assets/fonts/rye-regular-webfont.woff") format("woff"),
    url("./../assets/fonts/rye-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --color-primary: #b8bcc5;
  --color-primary-darken: #93959b;
  --color-primary-darkest: #64676d;
  --color-secondary: #fff;
  --color-third: #2a2c31;
  --color-third-light: rgb(42 44 49 / 0.25);
  --color-fourth: rgb(67 81 104 / 0.18);
  --color-focus: #686391;

  --fs-title: 5rem;
  --fs-big: 1.6rem;
  --fs-normal: 1.4rem;
  --fs-small: 1rem;

  /*list items*/
  --item-selected-bg: #551b13;
  --item-selected-color: #a0a0a0;

  --filter-color-format: #ff5c52;
  --filter-color-name: #1547c7;
  --filter-color-regex: #c3c715;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 3rem;

  background-color: var(--color-third);
}

/*scrollbar*/
*::-webkit-scrollbar {
  background-color: var(--color-primary-darkest);
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-darken);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

