.filter-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 3em;

  padding: 1em 0;

  font-size: var(--fs-normal);

  &[aria-details="name"] {
    & span {
      color: var(--filter-color-name);
    }
    & svg {
      color: var(--filter-color-name);
    }
  }
  &[aria-details="format"] {
    & span {
      color: var(--filter-color-format);
    }
    & svg {
      color: var(--filter-color-format);
    }
  }
  &[aria-details="regex"] {
    & span {
      color: var(--filter-color-regex);
    }
    & svg {
      color: var(--filter-color-regex);
    }
  }
}

.filter-selector__label {
  position: relative;
  width: 100%;
  font-size: inherit;

  & * {
    font-size: inherit;
  }

  & span {
    position: absolute;
    top: -1.5em;
    color: var(--color-primary);
    text-transform: uppercase;
  }

  & input {
    width: 100%;
    padding: 0.6em;
    &::placeholder {
      font-style: italic;
    }
  }
}

.filter-selector__submit-btn {
  aspect-ratio: 1;
  height: 100%;

  outline: none;
  border: none;
  border-radius: 50%;

  padding: 0;
  margin: 0;

  cursor: pointer;
  transition: transform 200ms;

  background-color: transparent;

  margin-left: 1em;

  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: forwards;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  & svg {
    font-size: 4em;
  }
}

.filter-selector__input {
  background-color: var(--color-secondary);
  outline: none;
  border: none;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}
