/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FONTS ~~~~~*/
@import 'styles/Fonts.global.css';

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ROOT ~~~~~*/
:root {
  --color-primary: #b8bcc5;
  --color-primary-darken: #93959b;
  --color-primary-darkest: #64676d;
  --color-secondary: #fff;
  --color-third: #2a2c31;
  --color-third-light: rgb(42 44 49 / 0.25);
  --color-fourth: rgb(67 81 104 / 0.18);

  /*list items*/
  --item-selected-bg: #551b13;
  --item-selected-color: #a0a0a0;

  --fs-title: 2rem;
  --fs-first: 1.8rem;
  --fs-secondary: 1rem;
  --fs-third: 0.9rem;

  --filter-color-format: #ff5c52;
  --filter-color-name: #1547c7;
  --filter-color-regex: #c3c715;

  user-select: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GENERAL STYLING ~~~~~*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*scrollbar*/
*::-webkit-scrollbar {
  background-color: var(--color-primary-darkest);
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-darken);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ UTILIY CLASS ~~~~~*/
.d-none {
  display: none !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY ~~~~~*/
body {
  background-image: url('../../assets/SettingsBackground.svg');
  background-repeat: no-repeat;
  background-size: sticky;
  background-attachment: local;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ APP ~~~~~*/
.settings {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTIONS ~~~~~*/
.section {
  margin: 10vh auto;
  padding: 3vh 3vw;
  width: 65vw;
  max-width: 800px;

  background-color: var(--color-fourth);

  text-align: center;

  --ff: roboto_slabregular;
  --fw: 300;
  --fc-title: var(--color-primary);
  --fc-general: var(--color-secondary);
  --fc-darken: var(--color-primary-darkest);
  --fc-darkest: var(--color-primary-darkest);

  --section-items-spacing: 1.5em;

  font-family: var(--ff);
  font-weight: var(--fw);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/*add space between items of the section*/
.section__title {
  font-size: var(--fs-title);
  font-weight: var(--fw);
  color: var(--fc-title);
  font-family: var(--ff);

  margin: 0.2em 0 var(--section-items-spacing) 0;
  padding: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LISTS ~~~~~*/
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;

  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;

  margin: 0;
  padding: 5vh 0;

  background-color: var(--color-third-light);

  border-radius: 5px;
}
.list_item {
  background-color: var(--color-third);

  max-height: 500px;
  width: 90%;

  font-family: robotolight;
  font-size: var(--fs-first);
  color: var(--fc-general);
  text-align: center;

  margin: 0.325em auto;
  padding: 0.3em 0.5em;

  display: grid;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  transition: all 0.6s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;

  cursor: pointer;
}
.list_item:hover {
  width: 92%;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 30px;
}
.list_item::-webkit-scrollbar {
  height: 3px;
}

/*selected item*/
.list_item_selected {
  width: 94%;
  background-color: var(--item-selected-bg);
  color: var(--item-selected-color);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 30px;
}
